<div class="container page">
  <div class="row">
        <div class="col-4"><span class="setleft" style="font-weight: bold">ID: <span class="idtxt">{{ selRec.op_id }}</span></span></div>
        <div class="col-4"><mat-checkbox id="tonipr" style="font-weight: bold" [(checked)]="selRec.toNIPR" 
          (change)="storeAllChanges($event)">To NIPR</mat-checkbox></div>
        <div class="col-4"><mat-checkbox id="unitreqvisible" style="font-weight: bold" [(checked)]="selRec.unitrqmt_visible" 
          (change)="storeAllChanges($event)">Unit Req Visible</mat-checkbox></div> 
  </div>

  <!-- Operation Name Short -->
  <div class="row">
    <div class="col-lg">
      <mat-form-field appearance="outline" style="width:100%">
        <mat-label>Operation Short:</mat-label>
        <input matInput id="opshort" [formControl]="opshortControl" required [(value)]="selRec.operation" (focusout)="textChanges($event)">
      </mat-form-field>  
    </div>
  </div>

  <!-- Operation Name Long -->
  <div class="row">
    <div class="col-lg">
      <mat-form-field appearance="outline" style="width:100%">
        <mat-label>Operation Long:</mat-label>
        <input matInput id="oplong" [formControl]="oplongControl" required [(value)]="selRec.operation_long" (focusout)="textChanges($event)">
      </mat-form-field>  
    </div>
  </div>

  <!-- List Based DaD -->
  <!-- <div class="row">
    <div class="col-lg">
        <mat-form-field style="width:100%">
          <mat-label>Fund Type:</mat-label>
          <mat-select id="fundtype" [formControl]="fundtypeControl" required [(ngModel)]="selRec.FundType" (selectionChange)="storeAllChanges($event)">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let ft of fundtypes" [(value)]="ft.ID">
              {{ ft.FUNDTYPE }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="fundtypeControl.hasError('required')">Choose a Fund Type</mat-error>
        </mat-form-field>
    </div>
  </div> -->

  <!-- Button Group -->
  <app-btn-group [isNewRecord]="isNewRecord"></app-btn-group>
</div>