<div class="container page">
  <div class="row">
        <div class="col-lg"><span class="setleft" style="font-weight: bold">ID: <span class="idtxt">{{ selRec.PAY_Operation_ID }}</span></span></div>
  </div>

  <!-- Pay Operation -->
  <div class="row">
    <div class="col-lg">
      <mat-form-field appearance="outline" style="width:100%">
        <mat-label>Operation:</mat-label>
        <input matInput id="operation" [formControl]="opControl" required minlength="2" [(ngModel)]="selRec.PAY_Operation" (focusout)="textChanges($event)">
      </mat-form-field>  
    </div>
  </div>

  <!-- Pay Description -->
  <div class="row">
    <div class="col-lg">
      <mat-form-field appearance="outline" style="width:100%">
        <mat-label>Description:</mat-label>
        <input matInput id="description" [formControl]="descControl" required minlength="2" [(ngModel)]="selRec.PAY_Operation_Description" (focusout)="textChanges($event)">
      </mat-form-field>  
    </div>
  </div>

  <!-- Button Group -->
  <app-btn-group [isNewRecord]="isNewRecord"></app-btn-group>
</div>  