<div class="container page">
  <div class="row">
        <div class="col-lg"><span class="setleft" style="font-weight: bold">ID: <span class="idtxt">{{ selRec.opId }}</span></span></div>
        <div class="col-lg"><mat-checkbox id="hidden" class="setright" style="font-weight: bold" [(checked)]="selRec.opHidden" 
          (change)="storeAllChanges($event)">Hidden</mat-checkbox></div>
  </div>

  <!-- ShortName -->
  <div class="row">
    <div class="col-lg">
      <mat-form-field appearance="outline" style="width:100%">
        <mat-label>Short Name:</mat-label>
        <input matInput id="shortname" [formControl]="shNameControl" required [(value)]="selRec.opShortName" (focusout)="textChanges($event)">
      </mat-form-field>  
    </div>
  </div>

  <!-- LongName -->
  <div class="row">
    <div class="col-lg">
      <mat-form-field appearance="outline" style="width:100%">
        <mat-label>Long Name:</mat-label>
        <input matInput id="longname" [formControl]="lgNameControl" required [(value)]="selRec.opLongName" (focusout)="textChanges($event)">
      </mat-form-field>  
    </div>
  </div>

  <!-- AuthID -->
  <div class="row">
    <div class="col-lg">
      <mat-form-field appearance="outline" style="width:100%">
        <mat-label>Authority ID:</mat-label>
        <input matInput id="authorityid" [formControl]="authidControl" required [(value)]="selRec.opAuthId" (focusout)="textChanges($event)">
      </mat-form-field>  
    </div>
  </div>

  <!-- Button Group -->
  <app-btn-group [isNewRecord]="isNewRecord"></app-btn-group>
</div>