<div class="container page">
  <div class="row">
        <div class="col-lg"><span class="setleft" style="font-weight: bold">PID: <span class="idtxt">{{ selRec.CYC_ID }}</span></span></div>
        <div class="col-lg"><mat-checkbox id="active" class="setright" style="font-weight: bold" [(checked)]="selRec.hidden" 
          (change)="storeAllChanges($event)">Hidden</mat-checkbox></div>
  </div>

  <!-- Cycle -->
  <div class="row">
    <div class="col-lg">
      <mat-form-field appearance="outline" style="width:100%">
        <mat-label>Cycle:</mat-label>
        <input matInput id="cycle" [formControl]="cycleControl" required [(value)]="selRec.cycle" (focusout)="textChanges($event)">
      </mat-form-field>  
    </div>
  </div>

  <!-- FY -->
  <div class="row">
    <div class="col-lg">
      <mat-form-field appearance="outline" style="width:100%">
        <mat-label>FY:</mat-label>
        <input matInput id="fy" [formControl]="fyControl" required [(value)]="selRec.FY" (focusout)="textChanges($event)">
      </mat-form-field>  
    </div>
  </div>

  <!-- Button Group -->
  <app-btn-group [isNewRecord]="isNewRecord"></app-btn-group>
</div>