<div class="container page">
  <div class="row">
        <div class="col-4"><span class="setleft" style="font-weight: bold">PID: <span class="idtxt">{{ selRec.PID }}</span></span></div>
        <div class="col-4"><mat-checkbox id="active" style="font-weight: bold" [(checked)]="selRec.ACTIVE" 
          (change)="storeAllChanges($event)">Active</mat-checkbox></div>
        <div class="col-4"><mat-checkbox id="deploy" style="font-weight: bold" [(checked)]="selRec.DEPLOY" 
          (change)="storeAllChanges($event)">Deploy</mat-checkbox></div>
  </div>

  <!-- Name Short -->
  <div class="row">
    <div class="col-lg">
      <mat-form-field appearance="outline" style="width:100%">
        <mat-label>Description Short:</mat-label>
        <input matInput id="nmshort" [formControl]="nmshortControl" required [(value)]="selRec.DESCRIPTION_SHORT" (focusout)="textChanges($event)">
      </mat-form-field>  
    </div>
  </div>

  <!-- Name Long -->
  <div class="row">
    <div class="col-lg">
      <mat-form-field appearance="outline" style="width:100%">
        <mat-label>Description Long:</mat-label>
        <input matInput id="nmlong" [formControl]="nmlongControl" required [(value)]="selRec.DESCRIPTION_LONG" (focusout)="textChanges($event)">
      </mat-form-field>  
    </div>
  </div>

  <!-- Operations -->
  <div class="row">
    <div class="col-lg">
        <mat-form-field style="width:100%">
          <mat-label>Operation</mat-label>
          <mat-select id="operation" [formControl]="opControl" required [(ngModel)]="selRec.operation_id" (selectionChange)="storeAllChanges($event)">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let op of operations" [(value)]="op.op_id">
              {{ op.operation_long }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="opControl.hasError('required')">Please choose an Operation</mat-error>
        </mat-form-field>
    </div>
  </div>

  <!-- CDATE, TPFDD TYPE -->
  <div class="row">
    <div class="col-6">
      <mat-form-field appearance="outline" style="width:100%">
        <mat-label>Type:</mat-label>
        <input matInput id="oplong" [formControl]="typeControl" required [(value)]="selRec.TYPE" (focusout)="textChanges($event)">
      </mat-form-field>  
    </div>

    <div class="col-6">
      <mat-form-field appearance="outline" style="width:100%">
        <mat-label>CDATE:</mat-label>
        <input matInput [matDatepicker]="picker" placeholder="Choose a CDATE" required [(value)]="selRec.CDATE" (focusout)="textChanges($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>  
    </div>
  </div>

  <!-- Button Group -->
  <app-btn-group [isNewRecord]="isNewRecord"></app-btn-group>
</div>