<div class="box">
  <!-- Left Side Update Section -->  
  <div #leftcol class="leftcol" [ngClass]="showEditor?'leftcol':'leftcol_hide'">
    <app-update-panel [isNewRecord]="isNewRecord" [curSelectedButton]="curOperation"></app-update-panel> <!-- Left panel content -->
  </div>

  <!-- Section Separator -->
  <div class="sep" [ngClass]="showEditor?'leftcol':'leftcol_hide'"></div>
  
  <!-- Right Side Data Grid -->
  <div #rightcol class="rightcol" [ngClass]="showEditor?'rightcol':'rightcol_wide'">
    <div style="margin-bottom: 10px">
      <button class="btn btnCustom" style="margin-top:-20px;margin-right:30px;color:white;font-size:12px; border: 1px solid darkslategray;" 
            *ngIf="!showEditor" (click)="createNewRecordHandler()">Create New Record</button>
      
      <button id="reset" class="btn btnCustom" (click)="clearFilter()" [disabled]="filterValue.length == 0"
        style="margin-top: -20px;margin-left: 10px; color:white;font-size:12px;border: 1px solid darkslategray;">Reset Filter</button>

      <mat-form-field appearance="standard" style="width: 350px; height: 25px; font-size:11px; top:-8px">
        <mat-label>Filter</mat-label>
        <input matInput  class="filter" (keyup)="applyFilter()" [(ngModel)]="filterValue"> 
      </mat-form-field>
    </div>

    <!-- Generate the dynamic table -->
    <table id="opDataTbl" class="table-striped table-bordered row-border mat-table">
      <!-- Header information -->
      <thead>
        <tr class="mat-header-cell">
          <th class="mat-header-cell" width="40">EDIT</th>
          <th *ngFor="let head of colHeadData; let i=index" [width]="head.width" class="mat-header-cell">
            {{ head.header | uppercase }}
          </th>
        </tr>
      </thead>

      <!-- Row Information -->
      <tbody>
        <tr *ngFor="let row of dgData; let i = index; let last = last; trackBy:trackByIndex" class="mat-cell">
          <td style="text-align:center"><img src="./assets/images/cog.png" title="Click to edit record" (click)="editRecordHandler(row)" class="clickitem" /></td>
          <td #dglist *ngFor="let col of colHeadData;" [ngStyle]="{'text-align': (col.checkbox) ? 'center' : 'left'}">
              {{ (col.checkbox) ?  "" : row[col.columnDef] }}
            <img [src]="((row[col.columnDef] == true && col.checkbox) ? './assets/images/cbox_checked.png':'./assets/images/cbox_open.png')" width='15' height='15' 
                [ngStyle]="{'display': (col.checkbox) ? '' : 'none'}"/>
            <!-- <ng-container *ngIf="last">{{ hideLoaderAni() }}</ng-container> -->
          </td>  
        </tr>
      </tbody>
    </table>

    <div id="divSpinner" [hidden]="allDataLoaded" class="dgloader rightcol" [ngClass]="showEditor ? 'rightcol' : 'rightcol_wide'">
      <ngx-spinner bdOpacity = 0.9 bdColor = "#333333" size = "medium" color = "#fff" type = "timer" [fullScreen] = "false">
        <p style="color: white" >Stand By Loading Data...</p>
      </ngx-spinner>
    </div>  
  </div>
</div>
