<div class="container page">
  <div class="row">
        <div class="col-lg"><span class="setleft" style="font-weight: bold">ID: <span class="idtxt">{{ selRec.id }}</span></span></div>
        <div class="col-lg"><mat-checkbox id="visiblechk" class="setright" style="font-weight: bold" [(ngModel)]="selRec.isVisible"
          (change)="storeAllChanges($event)">Visible</mat-checkbox></div>
  </div>

  <!-- Operations -->
  <div class="row">
    <div class="col-lg">
        <mat-form-field style="width:100%">
            <mat-label>Operation</mat-label>
            <mat-select id="operation" [formControl]="opControl" required [(ngModel)]="selRec.op_id" (selectionChange)="storeAllChanges($event)">
              <mat-option>--</mat-option>
              <mat-option *ngFor="let op of operations" [value]="op.op_id">
                {{ op.operation }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="opControl.hasError('required')">Please choose an Operation</mat-error>
          </mat-form-field>
    </div>
  </div>

  <!-- Cycle -->
  <div class="row">
      <div class="col-lg">
          <mat-form-field style="width:100%">
              <mat-label>Cycle</mat-label>
              <mat-select id="cycle" [formControl]="cycleControl" required [(ngModel)]="selRec.cyc_id" (selectionChange)="storeAllChanges($event)">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let c of cycles" [value]="c.CYC_ID">
                  {{ c.cycle }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="cycleControl.hasError('required')">Please choose a Cycle</mat-error>
            </mat-form-field>
      </div>
    </div>

  <!-- DAMPS -->
  <div class="row">
      <div class="col-lg">
          <mat-form-field style="width:100%">
              <mat-label>Assigned Damps</mat-label>
              <mat-select id="damps" [formControl]="dampsControl" required [(ngModel)]="selRec.fpop_id" (selectionChange)="storeAllChanges($event)">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let d of damps" [value]="d.ID">
                  {{ d.Description | uppercase }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="dampsControl.hasError('required')">Please choose a DAMPS Op</mat-error>
            </mat-form-field>
      </div>
    </div>

  <div class="row">
    <div class="col-lg">
      <mat-checkbox id="plan_id" [(ngModel)]="selRec.plan_id" (change)="storeAllChanges($event)">Visible in Planning</mat-checkbox>
    </div>
  </div>  

  <!-- Button Group -->
  <app-btn-group [isNewRecord]="isNewRecord"></app-btn-group>
</div>
